// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
// Set the main services section box background to the dark grey theme variable
#services {
  background-color: $gray-100 !important;
}